dj.container{
margin-left: 410px;
width:450px;
height:550px;
flex-flow:row-wrap;
background-color: rgb(131, 131, 130);
border: 6px solid rgb(69, 120, 179);
justify-content: space-around;
display: flex;
}

.box1{
    display: flex;
width:100px;
height:100px;
border: 3px solid rgb(216, 137, 47);
font-size: 36px;
align-items:center;
}

.answer{
    width:300px;
height:100px; 
background-color: rgb(216, 137, 47);
border: 1px solid black;
}
body{
    background-image: url("Beaumont PC.jpeg")}